{% extends 'bases.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="wrapper fadeInDown">
  <div id="formContent">
  
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Langar', cursive;">InnetSchools</h1><a href="/register" >S'inscrire</a>
    <label for="inputUsername">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="username" placeholder="" id="inputUsername" class="form-control fadeIn second" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" placeholder="" class="form-control fadeIn second col-10 mx-auto " required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    
        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" > Se souvenir de ma session !
            </label>
        </div>
    
    <div id="formFooter">
<button class="btn btn-lg btn-primary col-md-6" type="submit">
        Se connecter
    </button>   
     </div> 

</form>

{# 
 <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>#}

    <!-- Remind Passowrd -->
    
</div>
  </div>
{% endblock %}
