{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container my-5 mr-5">

        <div class=" mr-5">
    <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Langar', cursive;">InnetSchools Inscription</h1>

    <div class="mt-5 mr-5">{{ form_start(registrationForm) }}
        </div>

        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-primary ml-5">Register</button>
    {{ form_end(registrationForm) }}
        </div>

    </div> 

{% endblock %}
