<template>
    <!-- Typing area -->
    <form action="/" class="bg-light">
        <div class="input-group">
            <input type="text" placeholder="Votre message" v-model="content" @keyup.enter="sendMessage" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
            <div class="input-group-append">
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        data: () => ({
            content: ''
        }),
        methods: {
            sendMessage() {
                this.$store.dispatch("POST_MESSAGE", {
                    conversationId: this.$route.params.id,
                    content: this.content
                }).
                    then(() => {
                        this.content = ''
                })
            }
        }
    }
</script>