<template>
    <div class="container py-5 px-4">
  

  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
   <Left/>
    <!-- Chat Box-->
      <router-view :key="$route.fullPath"> </router-view>

      
  </div>
  <User/>

</div>
</template>

<script>
    import Left from "./Left/Left";
    import User from "./User";
    import Right from "./Right/Right";
    export default {
        components:{Left,Right,User}
    }
</script>