{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper ">
    <div>
    <div class="row flex container-fluid ml-5">
        <div class="card">
  <div class="card-header">
   <h2>Les contacts</h2>
  </div>
  <div class="card-body">
   <ul class="list-group">
     {% for user in users %}
             <ul class="list-group">
                <li class="list-group-item" >
                    
                  <strong> {{user.username}}</strong>
                  
                    <a href="/conversation/{{user.id}}" class="btn btn-primary ml-5 mb-2 float-right"  data-toggle="modal" data-target="#editModal">
                    Ecrire a cet utilisateur
                    </a>                   
                     </li>
           </ul>
       
    {% endfor %}
    {{ knp_pagination_render(users) }}
    
    </ul>
  </div>
</div>
   
    </div>
</div>
</div>
</div>
{% endblock %}

