<template>
    <div class="col-5 px-0" >
        <div class="col-12 h-30" >
            </div>

            <div class="bg-gray px-4 py-2" style="background-color:#0048AA">
                 <div class="srch_bar float-right  ">
                     <!-- <form action="/search">
                     <div class="stylish-input-group ">
                <input type="text" class="search-bar"  placeholder="Rechercher un utilisateur" >
                <span class="input-group-addon">
                <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
                     </form> -->
                     
                 <a href="/search" class="btn btn-secondary " > Utilisateurs </a> 
                
              
            </div>
                <p class="h5 mb-0 py-1" style="color:white">Message</p>
               
            </div>

            <div class="messages-box">
                <div class="list-group rounded-0">

                    <template v-for="(conversation, index, key) in CONVERSATIONS">
                        <Conversation :conversation="conversation" />
                    </template>
                </div>
            </div>
            <div class="bg-gray px-4 py-2" style="background-color:#0048AA">
                <p class="h5 mb-0 py-1" style="color:white"></p>
            </div>
        </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import Conversation from "./Conversation";
    export default {
        components: {Conversation},
        computed: {
          ...mapGetters(["CONVERSATIONS", "HUBURL", "USERNAME"])
        },
        methods: {
            updateConversations(data) {
                this.$store.commit("UPDATE_CONVERSATIONS", data)
            }
        },
        mounted() {
            const vm = this;
            this.$store.dispatch("GET_CONVERSATIONS")
                .then(() => {
                    let url = new URL(this.HUBURL);
                    url.searchParams.append('topic', `/conversations/${this.USERNAME}`)
                    const eventSource = new EventSource(url, {
                        withCredentials: true
                    })
                    eventSource.onmessage = function (event) {
                        vm.updateConversations(JSON.parse(event.data))
                    }
                })
        }
    }
</script>